<%= form_for(@subscriptor) do |f| %>
  <% if @subscriptor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscriptor.errors.count, "error") %> prohibited this subscriptor from being saved:</h2>

      <ul>
      <% @subscriptor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mail %><br>
    <%= f.text_field :mail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
