<p id="notice"><%= notice %></p>

<h1>Listing Subscriptors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptors.each do |subscriptor| %>
      <tr>
        <td><%= subscriptor.name %></td>
        <td><%= subscriptor.mail %></td>
        <td><%= link_to 'Show', subscriptor %></td>
        <td><%= link_to 'Edit', edit_subscriptor_path(subscriptor) %></td>
        <td><%= link_to 'Destroy', subscriptor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscriptor', new_subscriptor_path %>
