<!DOCTYPE html>
<html>
	<head>
		<title>Letsplay</title>
		<!-- meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	  	<%= stylesheet_link_tag 'font-awesome.min.css', rel:"stylesheet", media: 'screen', 'data-turbolinks-track' => true  %>
		<%= stylesheet_link_tag 'bootstrap.min.css', rel:"stylesheet", media: 'screen', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag 'animate.css', rel:"stylesheet", media: 'screen', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag 'owl.carousel.css', rel:"stylesheet", media: 'screen', 'data-turbolinks-track' => true %>
		
		<!-- %= stylesheet_link_tag 'owl.theme.css', rel:"stylesheet", media: 'screen', 'data-turbolinks-track' => true % -->
		
		<%= stylesheet_link_tag 'magnific-popup.css', rel:"stylesheet", media: 'screen', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag 'style.css', rel:"stylesheet", media: 'screen', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag 'blue.css', rel:"stylesheet", media: 'screen', 'data-turbolinks-track' => true %>	
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		
		<%= javascript_include_tag 'home.js', media: 'screen',  'data-turbolinks-track' => true%>
		<%= javascript_include_tag 'fitvids.js', media: 'screen',  'data-turbolinks-track' => true%>
		<%= javascript_include_tag 'custom.js', media: 'screen',  'data-turbolinks-track' => true%>
		<%= javascript_include_tag 'respond.js', media: 'screen',  'data-turbolinks-track' => true%>
		<%= javascript_include_tag 'validation_form.js', media: 'screen',  'data-turbolinks-track' => true%>
		
		<!--%= javascript_include_tag 'application', 'data-turbolinks-track' => true % -->

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	    <!-- icon -->
		<link rel="shortcut icon" href="ico/favicon.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
	</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/es_CO/sdk.js#xfbml=1&version=v2.5";
		  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
	<%= yield %>
</body>
</html>